@model ProductLibrary.ASPMVC.Models.Product.DelailsViewModel

@{
    ViewData["Title"] = "Détails du produit";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CurrentPrice)</dt>
        <dd class="col-sm-9">@Model.CurrentPrice.ToString("C")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Stock)</dt>
        <dd class="col-sm-9">
            <strong class="@(Model.Stock < 0 ? "text-danger" : "text-success")">
                @Model.Stock
            </strong>
        </dd>
    </dl>
</div>

<div class="mb-3">
    <a asp-action="AddStock" asp-route-id="@Model.ProductId" class="btn btn-primary">
        Ajouter une entrée de stock
    </a>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>

<hr />
@* <h3>@Html.DisplayNameFor(m => m.StockEntries)</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Quantité</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.StockEntries)
        {
            <tr>
                <td>@entry.EntryDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="@(entry.StockOperation > 0 ? "text-success" : "text-danger")">
                    @entry.StockOperation
                </td>
                <td>
                    @entry.OperationType
                </td>
            </tr>
        }
    </tbody>
</table> *@
<h3>@Html.DisplayNameFor(m => m.StockEntries)</h3>
<partial name="_StockEntriesList" model="Model.StockEntries" />